:root {
  --clr-primary-pale-blue: hsl(225, 100%, 94%);
  --clr-primary-bright-blue: hsl(245, 75%, 52%);
  --clr-neutral-very-pale-blue: hsl(225, 100%, 98%);
  --clr-neutral-desaturated-blue: hsl(224, 23%, 55%);
  --clr-neutral-dark-blue: hsl(223, 47%, 23%);
  --clr-light-grey: #dde3ec;
  --clr-white: #ffffff;
  --ff-main: "Red Hat Display", sans-serif;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-extra-bold: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  --border-radius-component: 1.5rem;

  font-family: var(--ff-main);
  background-color: var(--clr-primary-pale-blue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: 100% 50%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.component {
  margin: 1.25rem;
  border-radius: var(--border-radius-component);
  background-color: var(--clr-neutral-very-pale-blue);
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.component .component__img img {
  border-top-left-radius: var(--border-radius-component);
  border-top-right-radius: var(--border-radius-component);
}

.component .component__details {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.component .component__details .component__details-title {
  text-align: center;
  font-weight: var(--fw-extra-bold);
  font-size: 24px;
}

.component .component__details .component__details-description {
  text-align: center;
  color: var(--clr-neutral-desaturated-blue);
  line-height: 1.5;
  opacity: 0.85;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.form-label {
  font-weight: var(--fw-semi-bold);
  font-size: 1rem;
  color: var(--clr-neutral-dark-blue);
  display: block;
  line-height: 1.25rem;
  margin-bottom: 0.25rem;
}

.form-input-group .form-input-group__input,
.form-input-group .form-input-group__select {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--clr-light-grey);
  background: var(--clr-white);
  font-weight: var(--fw-semi-bold);
  font-size: 1rem;
  color: var(--clr-neutral-dark-blue);
}

.form-input-group .form-input-group__input::placeholder {
  color: var(--clr-neutral-desaturated-blue);
}

.form-input-group .form-input-group__input:focus {
  outline: none;
  border: 1px solid var(--clr-primary-bright-blue);
}

.input-radio-wrapper {
  width: 100%;
}

.input-radio-wrapper__flex {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.radio-choice-label {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--clr-neutral-dark-blue);
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  user-select: none;
}

.radio-choice-label__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-choice-label__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-light-grey);
  border-radius: 50%;
}

.radio-choice-label__input:checked ~ .radio-choice-label__checkmark {
  background-color: var(--clr-primary-bright-blue);
}

.radio-choice-label__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-choice-label__input:checked ~ .radio-choice-label__checkmark:after {
  display: block;
}

.radio-choice-label__checkmark:after {
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--clr-white);
  transform: translate(-50%, -50%);
}

.component .component__details .component__button-prediction {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
}

.component .component__details .component__button-prediction:hover {
  cursor: pointer;
  opacity: 0.6;
}

.component .component__details .component__button-prediction {
  background-color: var(--clr-primary-bright-blue);
  color: var(--clr-neutral-very-pale-blue);
  font-weight: var(--fw-bold);
  box-shadow: 0 2.5rem 30px hsla(225, 100%, 94%, 45%);
}

@media (min-width: 375px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }
}
